@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
  --bg-color: whitesmoke;
  --bg-color-shadow: rgb(170, 170, 170);
  --hover-color: #e3e4e7;
  --text-color: #000000;
  --text-color-hover: whitesmoke;

  --bg-image: url(../img/bg-light.jpg)
}

body.dark-mode {
  --bg-color: #121212;
  --bg-color-shadow: #000000;
  --hover-color: #e3e4e7;
  --text-color: whitesmoke;
  --text-color-hover: #000000;

  --bg-image: url(../img/bg-dark.jpg)
}

#theme-toggle {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #000;
  transition: transform 0.2s ease;
}

#theme-toggle:hover {
  transform: scale(1.1);
}

html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Poppins';
    font-weight: normal;
    font-style: normal;

    color: var(--text-color)
}

body {
    background-image: var(--bg-image);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

a {
    text-decoration: none;
    color: var(--text-color)
}

.container {
    background-color: var(--bg-color);

    border-width: 0.2rem;
    border-style: solid;
    border-color: var(--bg-color);
    border-radius: 1rem;
    box-shadow: -1px 1px 50px 6px var(--bg-color-shadow);
    
    padding: 5rem;
    gap: 5rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.button-4 {
  appearance: none;
  background-color: var(--bg-color);
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: -1px 1px 50px 6px var(--bg-color-shadow);
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-4:hover {
  background-color: url(--hover-color);
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

form button {
    color: var(--text-color);
    margin-top: 1rem;
}

.input {
    margin: 0.5rem;
    font-size: 20px;

    background-color: var(--bg-color);
    color: var(--text-color);
}