.container {
    display: grid;
    place-items: center;
    height: 100vh;
}

/* 

#=======================================#
#                                       #
#                 FORM                  #
#                                       #
#=======================================#

*/

form {
    padding: 2rem;
}

button {
    border-width: 0;
    background-color: #fff;
    margin-left: 5rem;

    transition: 0.2s;
}

select, input {
    margin-left: 5rem;
}

/* 

#=======================================#
#                                       #
#                 ANIM                  #
#                                       #
#=======================================#

*/

button:hover {
    border-color: var(--accent);
    background-color: var(--accent-dark);
    scale: 1.05;
    color: white;
    transform: rotate(-2deg);
}