:root {
  --bg-color: whitesmoke;
  --bg-color-shadow: rgb(170, 170, 170);
  --text-color: #000000;

}

body.dark-mode {
  --bg-color: #121212;
  --bg-color-shadow: #000000;
  --text-color: whitesmoke;

}

form {
    border-width: 0.1rem;
    border-style: solid;
    border-color: var(--bg-color);
    border-radius: 0.5rem;
    box-shadow: 0px 0px 50px 5px var(--bg-color-shadow);

    background-color: var(--bg-color);

    width: 20rem;
    height: 25rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form button {
    margin-top: 1rem;

    color: var(--text-color);
}

.tournament-list-container {
    font-size: 1.2rem;
}