/* 

#=======================================#
#                                       #
#                TITLE                  #
#                                       #
#=======================================#

*/

.home-container {
    margin-top: 10vh;
    text-align: center;
}

.home-container p {
    margin-top: 1vh;
}

.home-github {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    transition: 0.2s;

    margin-top: 1rem;
    margin-right: 2rem;
}

.home-coffee {
    background-color: #FFDD00;
    border: 1px solid #ccb100;
    transition: 0.2s;
}

.home-github a, .home-coffee a {
    display: inline-flex;
    align-items: center;
    gap: 8px;

    padding: 8px;

    color: #333;
}

/* 

#=======================================#
#                                       #
#              QUICK ACCESS             #
#                                       #
#=======================================#

*/

.quick-title {
    margin-top: 4vh;
    text-align: center;
}

.quick-container > .actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quick-container {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 1rem;

    margin-top: 4vh;
}

.actions a, .stats a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px 14px;
    border-radius: 1.5rem;
    color: #333;
    text-decoration: none;
    transition: 0.2s;

    width: 10rem;
}

.actions wired-button {
    background-color: #f5f5f5;
    transition: 0.2s;
}

.stats wired-button {
    background-color: #f5f5f5;
    transition: 0.2s;
}

.right-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.actions img {
    height: 3rem;
}

a.disabled {
    text-decoration: line-through;
    pointer-events: none;
    cursor: default;
    opacity: 50%;
}

/* 

#=======================================#
#                                       #
#                STATS                  #
#                                       #
#=======================================#

*/

.stats-title {
    margin-top: 4vh;
}

.stats-container > .stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stats-container {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 1rem;

    margin-top: 4vh;
}

.stats a {
    width: 20rem;

    transition: 0.2s;
}

.stats img {
    height: 3rem;
}

/* 

#=======================================#
#                                       #
#                 ANIM                  #
#                                       #
#=======================================#

*/

.home-github:hover {
    scale: 1.03;
    background-color: #e9e9e9;
}

.home-coffee:hover {
    scale: 1.03;
    background-color: #e9ca00;
    
}

.actions wired-button:hover {
    border-color: var(--accent);
    background-color: var(--accent-dark);
    scale: 1.05;
    transform: rotate(-2deg);
}

.actions a:hover {
    color: white;
}

.stats wired-button:hover {
    border-color: var(--accent);
    scale: 1.05;
}