.container {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    height: 100vh;
}

.tournament-list-container {
    display: flex;
    justify-content: center;

    margin-top: 5vh;
}


/* 

#=======================================#
#                                       #
#                 ANIM                  #
#                                       #
#=======================================#

*/


