.container {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    height: 100vh;
}

/* 

#=======================================#
#                                       #
#                 FORM                  #
#                                       #
#=======================================#

*/

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;

    padding: 32px;

    background-color: var(--bg-color);
}

.input {
    background-color: var(--bg-color-2);
    border: 1px solid var(--border-color);

    min-width: 400px;
    padding: 12px;
}