.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    justify-content: center;
    align-items: center;

    min-height: 5vh;
    max-height: 80vh;
    overflow-y: auto;

    gap: 15px;

    width: 50rem;

    font-size: 1.9rem;
}

.rank {
    border-width: 0.1rem;
    border-style: solid;
    border-color: var(--bg-color);
    border-radius: 0.5rem;
    box-shadow: 0px 0px 50px 5px var(--bg-color-shadow);

    padding: 30px;

    width: 40rem;

    text-align: center;
}