/* 

#=======================================#
#                                       #
#                 FORM                  #
#                                       #
#=======================================#

*/

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

form > .btn {
    align-self: center;
    width: auto;
}

form a {
    color: var(--text-color);
    padding: 8px;
    background-color: var(--btn-bg);
    transition: 0.2s;

    width: 10rem;
}

.container {
    padding-top: 2rem;
    display: flex;
    
    flex-direction: column; 
    justify-content: flex-start;
    align-items: center;
}

input {
    outline: none;
    border-width: 0px;

    font-size: 1.25rem;
    font-family: 'Poppins';

    background-color: var(---btn-bg);
    color: var(--text-color);

    height: 1rem;
    width: 6rem;
}

.container > wired-card {
    margin-top: 5vh;
    padding: 5rem;

    background-color: var(---btn-bg);
}

.round-line {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding: 10px 20px;
}

wired-card {
    background-color: var(--hover-color);
}

p span {
    font-size: 1.25rem;
}

.btn {
    border-width: 0;

    margin-top: 5vh;
    transition: 0.2s;

    background-color: var(--btn-bg);
    color: var(--text-color);
}

.team, .table {
    display: flex;
    align-items: center;
    gap: 10px;
}

.table {
    margin-left: 10rem;
    margin-right: 10rem;
}

wired-input {
    width: 5vw
}

input[type="number"] {
    text-align: center;
}

/* 

#=======================================#
#                                       #
#                 ANIM                  #
#                                       #
#=======================================#

*/

.btn:hover {
    border-color: var(--accent);
    background-color: var(--accent-dark);
    scale: 1.05;
    color: var(--text-color);
    transform: rotate(2deg);
}

form > a:hover {
    border-color: var(--accent);
    background-color: var(--accent-dark);
    scale: 1.05;
    color: var(--text-color);
    transform: rotate(-2deg);
}