/* 

#=======================================#
#                                       #
#                 FORM                  #
#                                       #
#=======================================#

*/

.team-create-container,
.team-create-container + div {
    display: flex;
    justify-content: center;
}

.team-create-container {
    padding-top: 3rem;
}

div > wired-card {
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


form {
    width: 20rem;
    height: 25rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.teams-list-container {
    border-width: 0.1rem;
    border-style: solid;
    border-color: var(--bg-color);
    border-radius: 0.5rem;
    box-shadow: 0px 0px 50px 5px var(--bg-color-shadow);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 20rem;

    padding: 1rem;

    overflow-y: auto;
}

.team-create-container {
    border-width: 0.1rem;
    border-style: solid;
    border-color: var(--bg-color);
    border-radius: 0.5rem;
    box-shadow: 0px 0px 50px 5px var(--bg-color-shadow);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.team-create-container form {
    height: auto;
    margin-bottom: 1rem;
}

.container {
    width: 50rem;
}

label {
    margin-bottom: 1rem;
}

.btn {
    border-width: 0;

    margin-top: 5vh;
    transition: 0.2s;

    background-color: var(--btn-bg);
    color: var(--text-color);
}

/* 

#=======================================#
#                                       #
#                 ANIM                  #
#                                       #
#=======================================#

*/

.btn:hover {
    border-color: var(--accent);
    background-color: var(--accent-dark);
    scale: 1.05;
    color: var(--text-color);
    transform: rotate(2deg);
}