<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BelotePlus - Concours</title>

    <link rel="preload" href="{{ url_for('static', filename='fonts/Poppins-Regular.woff2') }}" as="font" type="font/woff2" crossorigin>

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/icon.png') }}" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/rounds.css') }}">
</head>

<body>
    <main>
        <button id="theme-toggle">🌙</button>

            <div class="container">
                <form method="POST" action="/rounds">

                {% for team in repartition %}
                <div class="round-line">
                    <div class="team">
                        <p>Equipe {{ team.team1 }}</p> <input type="number" name="points1[]" required>
                    </div>
                    <div class="table">
                        <p>Table {{ team.table }}</p>
                    </div>
                    <div class="team">
                        <input type="number" name="points2[]" required><p>Equipe {{ team.team2 }}</p>
                    </div>
                </div>
                <input type="text" name="round" style="display: none" value="{{ team.round }}">
                {% endfor %}

                <input type="text" name="tournament" id="tournament" style="display: none" value="{{ tournament }}">
                <button type="submit" class="button-4">Prochaine partie</button>

                </form>
        </div>
    </main>
</body>

</html>

<script src="{{ url_for('static', filename='js/color-mode.js') }}"></script>