{% extends "base.html" %}

{% set title_key = "page_title_round" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/rounds.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <form method="POST" action="/rounds">
        {% for team in repartition %}
        <div class="round-line">
            <div class="team">
                <p><span>{{ t.team }}</span> {{ team.team1 }}</p> <input type="number" name="points1[]" required>
            </div>
            <div class="table">
                <p><span>{{ t.table }}</span> {{ team.table }}</p>
            </div>
            <div class="team">
                <input type="number" name="points2[]" required><p><span>{{ t.team }}</span> {{ team.team2 }}</p>
            </div>
        </div>
        <input type="text" name="round" style="display: none" value="{{ team.round }}">
        {% endfor %}

        <input type="text" name="tournament" id="tournament" style="display: none" value="{{ tournament }}">
        <button type="submit" class="button-4">{{ t.next_round }}</button>
        <a href="/players-screen" target="_blank">{{ t.players_screen }}</a>
    </form>
</div>
{% endblock %}