<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon App</title>

    <link rel="preload" href="{{ url_for('static', filename='fonts/Poppins-Regular.woff2') }}" as="font" type="font/woff2" crossorigin>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<body>
    <main>
        <div class="container">
            <p>Bienvenue dans votre gestionnaire de concours de belote</p>
            <div class="links">
                <a href="/register">Créer un concours</a>
                <a href="/tournaments">Ouvrir un concours</a>
            </div>
        </div>
    </main>
</body>

</html>