<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-translate="page_title_home">BelotePlus - Accueil</title>

    <link rel="preload" href="{{ url_for('static', filename='fonts/Poppins-Regular.woff2') }}" as="font" type="font/woff2" crossorigin>

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/icon.png') }}" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

</head>

<body>
    <main>
        <select id="language-selector">
            <option value="fr">🇫🇷 Français</option>
            <option value="en">🇬🇧 English</option>
        </select>
        <button id="theme-toggle">🌙</button>

        <div class="container">
            <p data-translate="welcome">Bienvenue dans votre gestionnaire de concours de belote</p>
            <div class="links">
                <a href="/new-tournament" class="button-4" data-translate="create_tournament">Créer un concours</a>
                <a href="/manage-tournaments" class="button-4" data-translate="open_tournament">Ouvrir un concours</a>
            </div>
        </div>
    </main>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <script>
        alert("{{ message }}");
      </script>
    {% endfor %}
  {% endif %}
{% endwith %}

</body>

</html>

<script src="{{ url_for('static', filename='js/color-mode.js') }}"></script>
<script src="{{ url_for('static', filename='js/language.js') }}"></script>