<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-translate="page_title_ranking">BelotePlus - Classement</title>

    <link rel="preload" href="{{ url_for('static', filename='fonts/Poppins-Regular.woff2') }}" as="font" type="font/woff2" crossorigin>

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/icon.png') }}" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ranking.css') }}">

</head>

<body>
    <main>
        <select id="language-selector">
            <option value="fr">🇫🇷 Français</option>
            <option value="en">🇬🇧 English</option>
        </select>
        <button id="theme-toggle">🌙</button>

        <div class="container">
            {% for i in ranking %}
                <div class="rank"><span data-translate="position">Place</span> n°{{ loop.index }} - <span data-translate="team">Equipe</span> n°{{ i }}</div>
            {% endfor %}
        </div>
    </main>
</body>

</html>

<script src="{{ url_for('static', filename='js/color-mode.js') }}"></script>
<script src="{{ url_for('static', filename='js/language.js') }}"></script>