{% extends "base.html" %}

{% set title_key = "page_title_manage" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/manage-tournaments.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="tournament-list-container">
        <form method="POST" action="/manage-tournaments">
            <div>
                {% for name in tournaments %}
                    <input type="radio" name="tournament" value="{{ name }}" required> {{ name }}<br>
                {% endfor %}
            </div>
            <button type="submit" name="action" value="open" class="button-4">{{ t.open }}</button>
            <button type="submit" name="action" value="delete" class="button-4">{{ t.delete }}</button>
        </form>
    </div>
</div>
{% endblock %}