{% extends "base.html" %}

{% set title_key = "page_title_teams" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/teams.css') }}">
{% endblock %}

{% block content %}
    <div class="team-create-container">
        <wired-card elevation="2">
        <form method="POST" action="/manage-teams">
            <p>{{ t.player }} 1</p>
            <input class="input" type="text" name="player1" id="player1" required>
            <p>{{ t.player }} 2</p>
            <input class="input" type="text" name="player2" id="player2" required>
            <input type="text" name="tournament" id="tournament" style="display: none" value="{{ tournament }}">
            <button type="submit" class="btn" name="action" value="create"><wired-button>{{ t.add_team }}</wired-button></button>
        </form>
        <form method="POST" action="/manage-teams">
            <input type="text" name="tournament" style="display: none" value="{{ tournament }}">
            <button type="submit" name="action" value="start" class="btn" id="startBtn"><wired-button elevation="2">{{ t.start_tournament }}</wired-button></button>
        </form>
        </wired-card>
    </div>
    
    <div>
        <wired-card>
        <form method="POST" action="/manage-teams">
            <div class="teams-list-container">
                <br>
                {% for team in teams %}
                    <label>
                        <input type="radio" name="team" value="{{ team.id }}" required>
                        {{ team.id }} - {{ team.player1 }} , {{ team.player2 }}
                    </label>
                    <input type="text" name="tournament" id="tournament" style="display: none" value="{{ tournament }}">
                {% endfor %}
                </wired-card>
            </div>
            <button type="submit" name="action" value="delete" class="btn" id="startBtn"><wired-button>{{ t.delete }}</wired-button></button>
        </form>
        </wired-card>
    </div>
</div>
{% endblock %}