<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BelotePlus - Gérer les équipes</title>

    <link rel="preload" href="{{ url_for('static', filename='fonts/Poppins-Regular.woff2') }}" as="font" type="font/woff2" crossorigin>

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/icon.png') }}" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/teams.css') }}">
</head>

<body>
    <main>
        <button id="theme-toggle">🌙</button>
        <div class="container">
            <div class="team-create-container">
                <form method="POST" action="/manage-teams">
                    <p>Premier joueur</p>
                    <input class="input" type="text" name="player1" id="player1" required>
                    <p>Deuxième joueur</p>
                    <input class="input" type="text" name="player2" id="player2" required>
                    <input type="text" name="tournament" id="tournament" style="display: none" value="{{ tournament }}">
                    <button type="submit" class="button-4" name="action" value="create">Créer l'équipe</button>
                </form>
            </div>
            <div>
                <form method="POST" action="/manage-teams">
                    <div class="teams-list-container">
                        <br>
                        {% for team in teams %}
                            <label>
                                <input type="radio" name="team" value="{{ team.id }}" required>
                                {{ team.id }} - {{ team.player1 }} , {{ team.player2 }}
                            </label>
                            <input type="text" name="tournament" id="tournament" style="display: none" value="{{ tournament }}">
                        {% endfor %}

                    </div>
                    <button type="submit" name="action" value="delete" class="button-4">Supprimer l'équipe</button>
                    <button type="submit" name="action" value="start" class="button-4">Commencer le concours</button>
                </form>
            </div>
        </div>
    </main>
</body>

</html>

<script src="{{ url_for('static', filename='js/color-mode.js') }}"></script>