<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-translate="page_title_new">BelotePlus - Créer un concours</title>

    <link rel="preload" href="{{ url_for('static', filename='fonts/Poppins-Regular.woff2') }}" as="font" type="font/woff2" crossorigin>

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/icon.png') }}" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
</head>

<body>
    <main>
        <select id="language-selector">
            <option value="fr">🇫🇷 Français</option>
            <option value="en">🇬🇧 English</option>
        </select>
        <button id="theme-toggle">🌙</button>
        <div class="container">
            <div class="tournament-create-container">
                <form method="POST" action="/new-tournament">
                    <p data-translate="tournament_name">Nom du concours</p>
                    <input class="input" type="text" name="tournament_name" id="tournament-name" required>
                    <p data-translate="rounds_number">Nombre de parties</p>
                    <input class="input" type="number" name="rounds_number" id="round-number" required>
                    <p data-translate="tables_number">Nombre de tables</p>
                    <input class="input" type="number" name="table_number" id="table-number" required>
                    <button type="submit" class="button-4" data-translate="create_tournament_button">Créer le concours</button>
                </form>
            </div>
        </div>
    </main>
</body>

</html>

<script src="{{ url_for('static', filename='js/color-mode.js') }}"></script>
<script src="{{ url_for('static', filename='js/language.js') }}"></script>