{% extends "base.html" %}

{% set title_key = "page_title_home" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/players.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="teams-wrapper">
        <table class="teams-table">
            <thead>
            <tr>
                <th scope="col">{{ t.team }}</th>
                {% for i in range(1, round + 1) %}
                    <th scope="col"><span>{{ t.round }} {{ i }}</span></th>
                {% endfor %}
                <th scope="col">{{ t.points }}</th>
            </tr>
            </thead>

            <tbody>
                {% for team in teams_points %}
                <tr>
                    <th scope="row">{{ team.team_id }}</th>
                    {% for pts in team.points %}
                        <td>{{ pts[0] }}</td>
                    {% endfor %}
                    <td>{{ team.total }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="repartition-wrapper">
        <table class="repartition-table">
            <thead>
                <th scope="col">{{ t.team }}</th>
                <th scope="col">{{ t.table }}</th>
                <th scope="col">{{ t.team }}</th>
            </thead>

            <tbody>
                {% for item in repartition %}
                <tr>
                    <td>{{ item.team1 }}</td>
                    <th scope="col">{{ item.table }}</th>
                    <td>{{ item.team2 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="options">
        <form method="POST" action="/players-screen">
            <label for="tournament-select">{{ t.choose_tournament }}</label>

            <select name="tournaments" id="tournament-select">
                <option value="">-- {{ t.please_choose }} --</option>
                {% for tournament in tournaments %}
                    <option value="{{ tournament }}">{{ tournament }}</option>
                {% endfor %}
            </select>

            <button type="submit" name="action" value="tournaments">{{ t.choose_tournament_btn }}</button>
        </form>

        {% if tournament != "none" and tournament != "" %}

        <form method="POST" action="/players-screen">
            <label for="round-select">{{ t.choose_round }}</label>

            <select name="rounds-select" id="round-select">
                <option value="">-- {{ t.please_choose }} --</option>
                {% for i in range(rounds) %}
                    <option value="{{ i + 1 }}"><span>{{ t.round }}</span> n°{{ i + 1 }}</option>
                {% endfor %}
            </select>
            
            <input type="text" name="tournament" id="tournament" style="display: none" value="{{ tournament }}">
            <input type="text" name="rounds-a" id="rounds-a" style="display: none" value="{{ rounds }}">

            <button type="submit" name="action" value="rounds">{{ t.choose_round_btn }}</button>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}